<header class="home-page-header">
  <a href="/" class="header-logo">LOGO</a>
  <div class="home-page-menu">
    <div class="home-page-menu-item">
      <a href="/home" class="home-page-menu-item-link">Home</a>
    </div>
    <div class="home-page-menu-item">
      <a href="/home2" class="home-page-menu-item-link">Another home</a>
    </div>
    <div class="home-page-menu-item">
      <a href="/checkout" class="home-page-menu-item-link">Checkout</a>
    </div>
    <div class="home-page-menu-item">
      <a href="/docs" class="home-page-menu-item-link">Docs</a>
    </div>
  </div>
</header>

<section class="first-section">
  <div class="first-section-wrapper">
    <h1 class="first-section-title">{{ title }}</h1>
    <p class="first-section-description">{{ description }}</p>
  </div>
</section>
