.home-page-footer {
  display: flex;
  width: 100%;
  padding-top: 20vh;
  background-color: #fafafa;
  bottom: 0;
  border-top: 1px solid #e4e3e3;
}

.home-page-footer-wrapper {
  margin: 0 auto;
  text-align: right;
  width: 500px;
}
